.App {
    text-align: center;
}

/* .card {
   
    
    background: white;
    
   
} */
/* h1 {
    font-size: 52px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #4da9f9;
}

p {
    color: #6d6d6d;
}

.card {
    width: 360px;
    padding: 32px 24px 48px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2),0 0 50px rgba(0,0,0,0.2);
}

.card1 {
    width: 360px;
    padding: 32px 24px 48px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2),0 0 50px rgba(0,0,0,0.2);
}

.figure{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 220px;
        margin-bottom: 40px;
}

.figure1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    margin-bottom: 40px;
} */
/* .figure_bg{
            position: relative;
            border-radius: 100%;
            width: 500px;
            height: 500px;
            
            background-image: url("./orig.png")
} */
/* img{
           
            width: 500px;
}

.mainCard{
    display: flex;
}

.content title p{
        text-align: left;
        margin-bottom: 32px;

        
            font-family: Poppins,"sans-serif";
            font-weight: 600;
            font-size: 24px;
            color: #545252;
     
       
            font-family: Poppins,"sans-serif";
            font-size: 14px;
    }

    .content title p{
        text-align: left;
        margin-bottom: 32px;

        
            font-family: Poppins,"sans-serif";
            font-weight: 600;
            font-size: 24px;
            color: #545252;
     
       
            font-family: Poppins,"sans-serif";
            font-size: 14px;
    }

.footer button{

            outline: none;
            border: none;
            width: 194px;
            height: 42px;
            border-radius: 21px;
            background: #cb7c15;
            color: white;
            cursor: pointer;
 
} */




.container{
    width: 1000px;
    background-image: url('../Images/fon.jpg');
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.container .card{
    position: relative;
    cursor: pointer;
    background: transparent;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background-image: url('../Images/1.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background-image: url('../Images/1.jpg');
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.3s;
    
}

.container .card:hover .face.face1 .content{
    opacity: 1;
    
}

.container .card .face.face1 .content h3{
    
    padding: 0;
    color:  #FFF200;
    text-align: center;
    font-size: 35px;
}

.container .card .face.face2{
    position: relative;
    background-image: url('../Images/2.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    /* box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8); */
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    font-size: large;
    color: #FFF200;
    background-color: #3883FF;
    padding: 5px;
    border: 1px solid #3883FF;
}

.container .card .face.face2 .content a:hover{
    background:#FFF200;
    border: 1px solid #FFF200;
    color: black;
}

/* #photo{
    width: 300px;
    height: 260px;
} */