.name{
    color: white;
    margin-top: 30px;
    font-size: 25px;
    font-family:  'Teko', sans-serif;
}

.captures{
    /* padding: '50px'; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

