.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
    padding: 0 !important;

   
  }
  .dropdown-submenu {
    position:relative;
    padding: 0;
  
  }
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    
  }
  
  /* .navbar-collapse { 
    transform: translateY(-100%); 
    transition: transform .5s cubic-bezier(.4,0,.2,1);
    background-color: black;
  }
  
  .navbar-expand-md:hover .navbar-collapse {
    transform: translateY(0); 
  }

  .navbar-nav:hover .navbar-collapse{
    transform: translateY(0);
  }
  .dropdown-menu:hover .navbar-collapse{
  background-color:greenyellow;
} */

  /* rotate caret on hover */
  .dropdown-menu > li > a:hover:after {
    
    transform: rotate(-90deg);
    
  } 

  /* #monitor li a::before{
    content: "" !important; 
    width: 0px !important; 
    height: 2px !important; 
    background: red !important; 
    position: absolute !important; 
    top: 100% !important; 
    left: 0 !important; 
    transition: .5s !important; 
}

  #monitor li a:hover::before { 
    width: 50% !important; 
    transform: translateX(100%) !important; 
  } */

  #inputButton{
    height: 25px;
    width: 150px;
  }

  #searchButton{
    font-size: 23px;
    font-family:  'Teko', sans-serif;
    color: white;
  }
#items{
  /* margin-left: 190px; */
  color: white;
}
/* #items a:hover{
  color: white;
  transform: translateY(0); 
  transition: transform .5s cubic-bezier(5,5,.5,1);
} */
#items a{
    font-size: 23px;
    font-family:  'Teko', sans-serif;
    color: white;
    padding-right: 40px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    text-shadow: tomato;
 
}

.dropdown-item{
  color: black !important;
}



ul li a::before { 
  content: ""; 
  width: 0px; 
  height: 2px; 
  background: red; 
  position: absolute; 
  top: 100%; 
  left: 0; 
  transition: .5s; 
} 

ul li a:hover::before { 
  width: 50%; 
  transform: translateX(100%); 
} 
/* #items:active{
    color: red !important;
    border-bottom: 1px solid white;
   
} */

#image{
 
  background-image: url(1234.JPG) !important;
  

}

.navbar{
  position: fixed;
}

#navbarNavDropdown{
  margin-left: 180px;
}

#search{
  margin-right: 210px;
}



