@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
.carouselInner{
  height: 50% !important;
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */



#myCarousel-indicators {
  top:0;
  bottom:0;
  margin:auto;
  height:50px;
  right:10px; left:95%;
  width:auto;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#myCarousel-indicators li{   
  background-color:  #8A868E; 
  width: 15px;
  height: 15px;

}

#myCarousel-indicators .active {
  background-color:red;
}

.mainbutton{
  position: absolute;

  color: rgb(235, 233, 233);
  animation: movingUpBottom 0.7s;
  border-radius: none;
  background-color: blue;
 }
 .mainbutton:hover {
  background-color: rgb(99, 8, 8);
  color: #f0eaea;
 }
 .top-left {
  position: absolute;
  left: 0px;
  animation: movingTopToBottom 0.5s linear;
}

  .top-left h1{
    color: #FFF200;
    font-family: 'Teko', sans-serif;
    text-align: left;
    font-size: 70px;
    width: 700px;
    text-transform: uppercase;
  }

.promoTitle{
  width: 400px;
  top: 300px;
  color: white;
  animation: movingLeftToRight 0.5s linear;
  animation-direction: normal;
  animation-fill-mode: both;
  position: relative;
  animation-delay: .5s;
}
.promoTitle h5{
  color: white;
  font-family:  'Teko', sans-serif;
  font-size: 25px;
  text-align: left;
}
 
@keyframes movingUpBottom {

  0% {   
    bottom: -999999%; 
  }
  33% {
    bottom: 0px;
  }
  66% {
    bottom: 250px;
  }
  100% {
    bottom: 500px;
  }
}

@keyframes movingLeftToRight {
  
  0% {   
    margin-left: -999999px; 
  }
  33% {
    margin-left: 4%;
  }
  66% {
    margin-left: 7%;
  }
  100% {
    margin-left: 14%;
  }
}

@keyframes movingTopToBottom {
  from {top: 0%;}
  to {top: 20%;}
}
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */

#myCarousel-indicators {
  top:0;
  bottom:0;
  margin:auto;
  height:50px;
  right:10px; left:95%;
  width:auto;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#myCarousel-indicators li{   
  background-color:  #8A868E; 
  width: 15px;
  height: 15px;

}

#myCarousel-indicators .active {
  background-color:red;
}

.mainbutton{
  position: absolute;

  color: rgb(235, 233, 233);
  animation: movingUpBottom 0.7s;
  border-radius: none;
  background-color: blue;
 }
 .mainbutton:hover {
  background-color: rgb(99, 8, 8);
  color: #f0eaea;
 }
 .top-left {
  position: absolute;
  left: 0px;
  animation: movingTopToBottom 0.5s linear;
}

  .top-left h1{
    color: #FFF200;
    font-family: 'Teko', sans-serif;
    text-align: left;
    font-size: 70px;
    width: 700px;
    text-transform: uppercase;
  }

.promoTitle{
  width: 400px;
  top: 300px;
  color: white;
  animation: movingLeftToRight 0.5s linear;
  animation-direction: normal;
  animation-fill-mode: both;
  position: relative;
  animation-delay: .5s;
}
.promoTitle h5{
  color: white;
  font-family:  'Teko', sans-serif;
  font-size: 25px;
  text-align: left;
}
 
@keyframes movingUpBottom {

  0% {   
    bottom: -999999%; 
  }
  33% {
    bottom: 0px;
  }
  66% {
    bottom: 250px;
  }
  100% {
    bottom: 500px;
  }
}

@keyframes movingLeftToRight {
  
  0% {   
    margin-left: -999999px; 
  }
  33% {
    margin-left: 4%;
  }
  66% {
    margin-left: 7%;
  }
  100% {
    margin-left: 14%;
  }
}

@keyframes movingTopToBottom {
  from {top: 0%;}
  to {top: 20%;}
}
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */

#myCarousel-indicators {
  top:0;
  bottom:0;
  margin:auto;
  height:50px;
  right:10px; left:95%;
  width:auto;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#myCarousel-indicators li{   
  background-color:  #8A868E; 
  width: 15px;
  height: 15px;

}

#myCarousel-indicators .active {
  background-color:red;
}

.mainbutton{
  position: absolute;

  color: rgb(235, 233, 233);
  animation: movingUpBottom 0.7s;
  border-radius: none;
  background-color: blue;
 }
 .mainbutton:hover {
  background-color: rgb(99, 8, 8);
  color: #f0eaea;
 }
 .top-left {
  position: absolute;
  left: 0px;
  animation: movingTopToBottom 0.5s linear;
}

  .top-left h1{
    color: #FFF200;
    font-family: 'Teko', sans-serif;
    text-align: left;
    font-size: 70px;
    width: 700px;
    text-transform: uppercase;
  }

.promoTitle{
  width: 400px;
  top: 300px;
  color: white;
  animation: movingLeftToRight 0.5s linear;
  animation-direction: normal;
  animation-fill-mode: both;
  position: relative;
  animation-delay: .5s;
}
.promoTitle h5{
  color: white;
  font-family:  'Teko', sans-serif;
  font-size: 25px;
  text-align: left;
}
 
@keyframes movingUpBottom {

  0% {   
    bottom: -999999%; 
  }
  33% {
    bottom: 0px;
  }
  66% {
    bottom: 250px;
  }
  100% {
    bottom: 500px;
  }
}

@keyframes movingLeftToRight {
  
  0% {   
    margin-left: -999999px; 
  }
  33% {
    margin-left: 4%;
  }
  66% {
    margin-left: 7%;
  }
  100% {
    margin-left: 14%;
  }
}

@keyframes movingTopToBottom {
  from {top: 0%;}
  to {top: 20%;}
}
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
#myCarousel-indicators {
  top:0;
  bottom:0;
  margin:auto;
  height:50px;
  right:10px; left:95%;
  width:auto;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#myCarousel-indicators li{   
  background-color:  #8A868E; 
  width: 15px;
  height: 15px;

}

#myCarousel-indicators .active {
  background-color:red;
}

.mainbutton{
  position: absolute;
  animation: movingUpBottom 0.7s linear;
  animation-direction: normal;
  animation-fill-mode: both;
 }
 .mainbutton:hover {
  background-color: rgb(99, 8, 8);
  color: #f0eaea;
 }
 .top-left {
  position: absolute;
 
  animation: movingTopToBottom 0.5s linear;
  animation-direction: normal;
  animation-fill-mode: both;
  z-index: 24;
}

  .top-left h1{
    color: #FFF200;
    font-family: 'Teko', sans-serif;
    text-align: left;
    font-size: 70px ;
    width: 700px;
    text-transform: uppercase;
    z-index: 24;
  }

.promoTitle{
  width: 400px;
  top: 300px;
  color: white;
  animation: movingLeftToRight 0.5s linear;
  animation-direction: normal;
  animation-fill-mode: both;
  position: relative;
  animation-delay: .5s;
  z-index: 24;
}
.promoTitle h5{
  color: white ;
  font-family:  'Teko', sans-serif ;
  font-size: 25px ;
  text-align: left;
  z-index: 24;
}
 
@keyframes movingUpBottom {

  0% {   
    bottom: 0%; 
  }
  33% {
    bottom: 50px;
  }
  66% {
    bottom: 100px;
  }
  100% {
    bottom: 150px;
  }
}

@keyframes movingLeftToRight {
  
  0% {   
    margin-left: -999999px; 
  }
  33% {
    margin-left: 4%;
  }
  66% {
    margin-left: 7%;
  }
  100% {
    margin-left: 14%;
  }
}

@keyframes movingTopToBottom {
  from {top: 0%;}
  to {top: 20%;}
}
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */

.button:focus{
  outline: none;
  border: none;
  background-color: transparent;
}

.button{
  color: black ;
  padding: 14px 40px;
}

.button:hover{
  color: white ;
}

.mainbutton{
  position: absolute;
  z-index: 24;
  left: 400px;
  animation: movingUpBottom .7s linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  border-radius: none;
  background-color:#FFF200;
  font-family: 'Teko', sans-serif;
  color: black;
  padding: 5px 40px;
  outline: none !important;
  border: none;
 }

 .mainbutton:hover {
  background-color: rgb(99, 8, 8);
  color: #f0eaea;
  animation: movingUpBottom 0.7s linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
 }

 .mainbutton1{
  position: absolute;
  z-index: 24;
  left: 400px;
  animation: movingUpBottom1 .7s linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  border-radius: none;
  background-color: #FFF200;
  font-family: 'Teko', sans-serif;
  color: white;
  padding: 5px 40px;
 }
 .mainbutton1:hover {
  background-color: rgb(99, 8, 8);
  color: #f0eaea;
  animation: movingUpBottom1 0.7s linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
 }

 .mainbutton2{
  position: absolute;
  z-index: 24;
  left: 400px;
  animation: movingUpBottom2 .7s linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  border-radius: none;
  background-color: #FFF200;
  font-family: 'Teko', sans-serif;
  color: white;
  padding: 5px 40px;
 }
 .mainbutton2:hover {
  background-color: rgb(99, 8, 8);
  color: #f0eaea;
  animation: movingUpBottom2 0.7s linear;
  animation-direction: normal;
  animation-fill-mode: both;
 }

 .top-left {
  position: absolute;
  left: 298px;
  margin-top: -80px;
  animation: movingTopToBottom 0.5s linear;
  animation-direction: normal;
  animation-fill-mode: both;
  z-index: 24;
  color: #FFF200;
  font-family: 'Teko', sans-serif;
  text-align: left;
  font-size: 70px;
  width: 700px;
  text-transform: uppercase;
}

.promoTitle{
  width: 400px;
  top: 300px;
  animation: movingLeftToRight 0.5s linear;
  animation-direction: normal;
  animation-fill-mode: both;
  position: relative;
  animation-delay: .5s;
  z-index: 24;
  color: white;
  font-family:  'Teko', sans-serif;
  font-size: 25px;
  text-align: left;
  position: absolute;
}



@keyframes movingUpBottom {
  from {bottom: 0px;}
  to {bottom: 510px;}
}

@keyframes movingLeftToRight {
  
  0% {   
    margin-left: -999999px; 
  }
  33% {
    margin-left: 40%;
  }
  66% {
    margin-left: 70%;
  }
  100% {
    margin-left: 140%;
  }
}

@keyframes movingTopToBottom {
  from {top: 0;}
  to {top: -10px;}
}

@keyframes movingUpBottom1 {
  from {bottom: 0%;}
  to {bottom: 610px;}
}


@keyframes movingUpBottom2 {
  from {bottom: 0%;}
  to {bottom: 430px;}
}

}
 
/* iPhone 5 (portrait & landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
.top-left {
  display: none;
}
  .top-left h1{
    display: none;
  }

  .promoTitle{
    display: none;
  }
  .promoTitle h5{
    display: none;
  }
  .mainbutton{
    display: none;
  }
  #myCarousel-indicators{
    display: none;
  }
}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
.top-left {
    display: none;
  }

  .top-left h1{
    display: none;
  }

  .promoTitle{
    display: none;
  }
  .promoTitle h5{
    display: none;
  }
  .mainbutton{
    display: none;
  }
  #myCarousel-indicators{
    display: none;
  }
}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
.top-left {
  display: none;
}

  .top-left h1{
    display: none;
  }

  .promoTitle{
    display: none;
  }
  .promoTitle h5{
    display: none;
  }
  .mainbutton{
    display: none;
  }
  #myCarousel-indicators{
    display: none;
  }
}