.imgg{
    width: 638.3px;
    height: 220px;
    position: absolute;
    left: 0;   
}

.block{
    
    border-color: white;
    border: .1px solid white;
    border-right: 0;
    position: relative;
    
    
}




.thumb-anim {
    
    position: relative;
    transition: 0.5s;
    transform: translateY(100%);
}

.thumb-title {
    font-size: 35px;
    text-transform: uppercase;
    transition: 0.5s;
    transform: translateY(-100%);
    color:#fff001;
    margin-top: 25px;
    width: 638.3px;
    font-family:  '-apple-system',
    'BlinkMacSystemFont',
    '"Segoe UI"',
    'Roboto',
    '"Helvetica Neue"',
    'Arial',
    'sans-serif',
    '"Apple Color Emoji"',
    '"Segoe UI Emoji"',
    '"Segoe UI Symbol"',

}

.thumb-description {
    text-transform: uppercase;
    opacity: 0;
    transition: 'ease border-bottom 250ms';
    width: 150px;
    color: white;
    
    
}

.block:hover .thumb-anim {
    transform: translateY(0);
}
  
.block:hover .thumb-title {
    transform: translateY(0%);
}
  
.block:hover .thumb-description {
    opacity: 1;
  }


